.sidenav1 {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.profilemain {
  margin-left: 272px;
  padding: 0px 10px;
}

.dropdown-container {
  padding-left: 8px;
}

.accordion-header a {
  text-decoration: none;
}

.sidenav1 .accordion-button {
  color: unset;
  border: none;
  padding: 6px 4px 6px 40px;
}

.sidenav1 .accordion-item a {
    text-decoration: unset;
}

.sidenav1 .accordion-button:not(.collapsed) {
  background-color: unset;
}

.sidenav1 .accordion-button:focus {
  boder-color: none;
  box-shadow: none;
}

.sidenav1 .accordion-collapse {
  border: none;
}

.profimg {
  border-raius: 50%;
  margin: 0px 20px 20px 20px;
  width: 12em
}

.sidenav1 .nav-link {
  padding: 6px 4px 6px 40px;
}
