.sidenav1 {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.profilemain {
  margin-left: 200px;
  padding: 0px 10px;
}
.dropdown-container {
  padding-left: 8px;
}
.accordion-header a {
  text-decoration: none;
}
.sidenav1 .accordion-button {
  color: unset;
}
.accordion-item a {
    text-decoration: unset;
}
